{% extends "base_bootstrap.html" %}

{% block content %}

    <h1>Autos List</h1>
    {% if auto_list|length <= 0 %}
        <p>There are no autos in the library</p>
    {% else %}
        <ul>
            {% for auto in auto_list %}
            <li><p>{{ auto.name }} ( {{auto.nickname}} ) (
                <a href="{% url 'autos:auto_update' auto.id %}">Update</a> |
                <a href="{% url 'autos:auto_delete' auto.id %}">Delete</a>  )
                <br>{{ auto.comments }}</p></li>

            {% endfor %}
        </ul>
    {% endif %}

  <p>
    {% if make_count > 0 %}
      <a href="{% url 'autos:auto_create' %}">Add an auto</a>
    {% else %}
      Please add a make before you add an auto.
    {% endif %}
  </p>

<br>
<p><a href="{% url 'autos:make_view' %}">View Makes</a> ({{ make_count }}) |
<a href="{% url 'autos:make_create' %}">Add a make</a></p>

{% endblock %}